{% extends "Surveyapp/employee.html" %}
{% block content %}
<div class="container-fluid">
    <!-- Page Heading -->
    <div class="row">
        <div class="col-xl-6 col-md-6 mb-4">
            <div class="card border-left-primary shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Total Survey
                                completed
                            </div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">{{complete_count}}</div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-calendar fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Pending Survey section  -->
        <div class="col-xl-6 col-md-6 mb-4">
            <div class="card border-left-warning shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">Incomplete Surveys
                                Survey
                            </div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">{{incomplete_count}}</div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-comments fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="conatiner">
    <p> Welcome to survey : {{session}}</p>
    <p> Please complete following surveys </p>
    <ul>
        {% for s in survey_list %}
        <li><a href="{% url 'que_list' s.survey_id %}"> {{s.survey}} </a></li>
        {% endfor %}
    </ul>
</div>
<!-- Start and resume Survey  -->
<div class="container">
    <div class="row">
        <div class="col-xl-6 col-md-6 mb-4">
            <div class="card border-left-warning shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">Incomplete Surveys
                                Survey
                            </div>
                            {% for sur in incomplete_survey %}
                            {{ sur.survey }}
                            <a href="{% url 'que_list' sur.survey_id %}"> : Resume Survey</a><br/>
                            {% endfor %}

                        </div>
                        <div class="col-auto">
                            <i class="fas fa-comments fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
{% endblock %}